<link rel="stylesheet" type="text/css" href="<%= assetPath('css/header.css') %>">
<header class="flex">
        <ul id="logo">
            <li>
                <a href="/"><img src="<%= assetPath('images/todo.png') %>" alt="Todo Logo"></a>
            </li>
        </ul>
   <div class="navigation">
       <%if(locals.user){%>
        <ul class="flex username">
            <li id="userphoto">
                <a href="/user/profile/<%= user.id%>"> <img src="<%=user.avatar%>" alt="user profile picture"> </a>
            </li>
            <li class="headerLink">
                <a href="/user/profile/<%= user.id%>"><%=user.name%></a>
            </li>
            <li class="headerLink">
                <a href="/user/sign-out">Sign Out</a>
            </li>
        </ul>
           <%} else {%>
            <ul class="flex headerLink">
                <li>
                    <a href="/user/sign-in">Sign In</a>
                </li>
                <li>
                    <a href="/user/sign-up">Sign Up</a>
                </li>
            </ul>
        <%}%>
   </div>
</header>
