<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title%></title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <!-- this is for external style -->
    <%- style %>
</head>
<body>
    <!-- This include the headers section to the page -->
    <%- include('_header');%>
    <% if(flash.success && flash.success.length > 0) { %>
        <h5>
            <%=flash.success%>
        </h5>
    <%}%>
    <!-- This include the body section to the page -->
        <%- body %>

    <!-- This include the footer section to the page -->
    <%- include('_footer');%>

    <!-- this is for external script -->
    <%- script %>
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>