<link rel="stylesheet" type="text/css" href="/css/users_profile.css">
<div class="loginbox">
    <img src="<%=user.avatar%>" alt="<%= user.name%>" class="avatar">
        <h1>Update Profile</h1>
        <form action="/user/update/<%=profile_users.id%>" enctype="multipart/form-data" method="POST">
            <input type="file" name="avatar" placeholder="Profile Picture" id="">
            <label for="username">Username</label>
            <input id="username" type="text" name="name" placeholder="Your name" value="<%=profile_users.name%>" required>
            <label for="email">Your Email</label>
            <input id="email" type="email" name="email" placeholder="Your email" value="<%=profile_users.email%>" required>
            <input type="submit" value="Update">
        </form>
</div>